/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;
*/

/* App Common CSS */
//$jnStatusBarColor : #3b404a;                /* Status bar color through out the app */
$jn-app-color : #146e8c;                      /*Common App color */
$jn-app-second-color : #bfbfbf;               /*Common App Second combination color */
$jn-height-of-item : 36px;                    /*Common height for items in list */
$jn-app-font : "Regular","Helvetica Neue";    /*Common font type. */
$on-bg-color : rgb(15,150,247) ;
$on-border-color: rgb(15,150,247) ;
$jn-placeholder-color: rgb(140,140,140);
$bar-default-border: rgb(69,180,218);


/*====================Mixin===================*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../-vendor/ionicons/fonts" !default;
@import "../-vendor/ionic/scss/ionic",
"../-vendor/ionicons/scss/ionicons",
"../comp/def",
"../lib/directives/def"
;